$pageMainColor: #2992E5;
$fontColorBlack: #3B3F43;
// Surface
$Surface: #F6F8FD;
$Light: #FFFFFF;
$Dark: #E3E5EA;
// Surface Text Emphasis
$surfaceEp: #F5F7FC;
// Primary
$Primary: #228BE6;
$primary-900: #0F4AA2;
$primary-800: #1868C1;
$primary-700: #1C79D3;
$primary-600: #228BE6;
$primary-500: #2699F4;
$primary-400: #45A8F6;
$primary-300: #66B7F7;
$primary-200: #91CCF9;
$primary-100: #BCDFFB;
$primary-50: #E3F2FD;
// Primary Text Emphasis
$primaryEp: #3980DA;
// Primary Black Text
$primaryBlackTEm: #E2EFFB;
// Primary White Text
$primaryWhiteTEm: #1D4292;
// Secondary
$Secondary: #1B2535;
$secondary-900: #1B2535;
$secondary-800: #2D384C;
$secondary-700: #3C4A62;
$secondary-600: #4D5D78;
$secondary-500: #5A6A89;
$secondary-400: #717F9B;
$secondary-300: #8995AE;
$secondary-200: #A9B3C8;
$secondary-100: #C8D2E3;
$secondary-50: #E8ECFA;
// Secondary Text Emphasis
$secondaryEp: #1B212D;
// Secondary Black Text
$secondaryBlackTEm: #E5E9F7;
// Secondary White Text
$secondaryWhiteTEm: #1B212D;
// Error
$error-200: #ffa8a8;
$error-500: #ff6d6d;
$error-800: #f03e3e;
// In Progress
$inProgress-200: #ffe066;
$inProgress-500: #fcc419;
$inProgress-800: #f59f00;
// Completed
$completed-200: #91ccf9;
$completed-500: #228be6;
$completed-800: #1868c1;
// Reserved
$reserved-200: #63e6be;
$reserved-500: #20c997;
$reserved-800: #0ca678;
// Canceled
$canceled-200: #b197fc;
$canceled-500: #845ef7;
$canceled-800: #7048e8;
// Crediential
$crediential-1: #ec008c;
$crediential-2: #ec4300;
$crediential-3: #502bbe;
$crediential-4: #199d6d;
$crediential-5: #0098b8;
$crediential-6: #ff9c00;