extends ../layouts/pages
block append head
	block title
		- var title='OSC-Font'; // Page title

block content
	include ../components/header.pug
	.container
		.row
			.col.title
				h1.headerH1 FONT
				small.headerSmall Last revision : 2018. 08. 01.
	.container.fontBox
		.row
			.col-2
				.fontH1 H1
			|       
			.col-7
				.fontH1 SpoqaHanSans Bold 55
			|       
			.col
				.rightSmall.h1Small Home &gt; Count
		|     
		.row
			.col-2
				.fontH2 H2
			|       
			.col-7
				.fontH2 SpoqaHanSans Bold 36
			|       
			.col
				small.rightSmall Mirration Wizard btn
		|     
		.row
			.col-2
				.fontH3 H3
			|       
			.col-7
				.fontH3 SpoqaHanSans Regular 36
			|       
			.col
				small.rightSmall Mirration Wizard time / count
		|     
		.row
			.col-2
				.fontH4 H4
			|       
			.col-7
				.fontH4 SpoqaHanSans Regular 30
			|       
			.col
				small.rightSmall landing Infomation page Title
		|     
		.row
			.col-2
				.fontH5 H5
			|       
			.col-7
				.fontH5 SpoqaHanSans Bold 24
			|       
			.col
				small.rightSmall mail form title
		|     
		.row
			.col-2
				.fontH6 H6
			|       
			.col-7
				.fontH6 SpoqaHanSans Regular 24
			|       
			.col
				small.rightSmall Dialog box title / Detail Page title
		|     
		.row
			.col-2
				.fontH7 H7
			|       
			.col-7
				.fontH7 SpoqaHanSans Regular 20
			|       
			.col
				small.rightSmall langing Infomation page user email
		|     
		.row.fontLast
			.col-2
				.fontH8 H8
			|       
			.col-7
				.fontH8 SpoqaHanSans Regular 18
			|       
			.col
				small.rightSmall Dialog box body text
		|     
		.row
			.col-2
				.fontS1 Subtitle 1
			|       
			.col-7
				.fontS1 SpoqaHanSans Regular 16
			|       
			.col
				small.rightSmall.subSmall Menu 1 depth text
		|     
		.row.fontLast
			.col-2
				.fontS2 Subtitle 2
			|       
			.col-7
				.fontS2 SpoqaHanSans Regular 14
			|       
			.col
				small.rightSmall.subSmall Menu 2 - 3 depth text / Submenu 1depth text Tab menu title
		|     
		.row
			.col-2
				.fontB1 Body 1
			|       
			.col-7
				.fontB1 SpoqaHanSans Regular 14
			|       
			.col
				small.rightSmall.subSmall input title / table text / btn text / mail form
		|     
		.row
			.col-2
				.fontB2 Body 2
			|       
			.col-7
				.fontB2 SpoqaHanSans Bold 12
			|       
			.col
				small.rightSmall.subSmall status counter / mail form link
		|     
		.row.fontLast
			.col-2
				.fontB3 Body 3
			|       
			.col-7
				.fontB3 SpoqaHanSans Regular 12
			|       
			.col
				small.rightSmall.subSmall input active title / intance message / status / pagination
		|     
		.row.fontLast
			.col-2
				.fontC1 Caption
			|       
			.col-7
				.fontC1 SpoqaHanSans Regular 10
			|       
			.col
				small.rightSmall.subSmall Location / Footer

	
	div.container.made Made by majac