extends ../layouts/pages
block append head
	block title
		- var title='OSC-STYLE';

block content
	include ../components/header.pug
	.container
		.row
			.col.title
				h1.headerH1 RORO UI kit
				small.headerSmall Last revision : 2018. 08. 01.
	.container
		p Main Page
		p Lorem ipsum dolor sit amet consectetur adipisicing elit. At saepe corrupti praesentium consequuntur maxime? Assumenda dolores quibusdam quisquam nam velit pariatur ut doloribus magnam, sequi qui enim quia consequuntur. Cupiditate quis fugiat sint molestias vitae aliquid quibusdam explicabo nobis, odit quidem eaque impedit dicta reiciendis maxime sequi quos ut, obcaecati est illo, fugit possimus saepe. Tenetur sed magni, dicta dignissimos cum temporibus dolor ipsa nostrum voluptatem in minus nulla! Reprehenderit maiores sit ipsum impedit possimus iste iusto rem nemo, quas modi quisquam iure, consequuntur eius officiis eos minima repellat, voluptatem ex soluta animi dolorem aliquid harum? Aliquid consequatur nam deserunt.
