// Last revision : 2018. 08. 01.
@mixin rowLayout {
  flex-direction: column;
  position: relative;
};
@mixin titleColorLayout {
  width: 100%;
  position: absolute;
  top: 0;
};
@mixin textLower {
  position: relative;
  top: 100px;
};
@mixin nameLeft {
  margin: 15px 15px;
  display: inline-block;
};
@mixin codeRight {
  float: right;
  position: relative;
  right: 25px;
  top: 15px;
};
@mixin emLeft {
  margin: 15px 15px;
  display: block;
  line-height: 2;
};
.navColorBox {
  height: 25px;
  text-align: center;
  &::before {
    content: "";
    position: absolute;
    border: 1px solid $secondary-500;
    width: 100%;
  }
  .navColor {
    padding: 20px 0;
    text-decoration: none;
    color: $secondary-500;
    transition: .6s;
    &::before {
      content: "";
      border: .5px solid $secondary-500;
      border-radius: 1px;
      width: 10px;
      height: 10px;
      display: inline-block;
      margin-right: 10px;
    }
  }
  .Surface {
    &:hover {
      color: $Surface;
    }
    &::before {
      background-color: $Surface;
    }
  }
  .Primary {
    &:hover {
      color: $Primary;
    }
    &::before {
      background-color: $Primary;
    }
  }
  .Secondary {
    &:hover {
      color: $Secondary;
    }
    &::before {
      background-color: $Secondary;
    }
  }
  .EtcColor {
    &:hover {
      color: $inProgress-800;
    }
    &::before {
      background-color: $inProgress-800;
    }
  }
  .Crediential {
    &:hover {
      color: $crediential-1;
    }
    &::before {
      background-color: $crediential-1;
    }
  }
}
section {
  padding: 50px 0;
  .row {
    @include rowLayout;
    // Surface
    .surface {
      background-color: $Surface;
      color: $fontColorBlack;
    }
    .light {
      background-color: $Light;
      color: $fontColorBlack;
      height: 50px;
    }
    .dark {
      background-color: $Dark;
      color: $fontColorBlack;
      height: 50px;
    } // Surface Text Emphasis
    .surfaceEp {
      background-color: $surfaceEp;
      height: 200px;
      .surfaceEp87 {
        margin-top: 35px;
        color: #000000;
        opacity: .87;
      }
      .surfaceEp60 {
        color: #000000;
        opacity: .6;
      }
      .surfaceEp38 {
        color: #000000;
        opacity: .38;
      }
    } // Primary
    .primary {
      background-color: $Primary;
      color: $fontColorBlack;
    }
    .primary900 {
      background-color: $primary-900;
      height: 50px;
      color: #FFFFFF;
    }
    .primary800 {
      background-color: $primary-800;
      height: 50px;
      color: #FFFFFF;
    }
    .primary700 {
      background-color: $primary-700;
      height: 50px;
      color: $fontColorBlack;
    }
    .primary600 {
      background-color: $primary-600;
      height: 50px;
      color: $fontColorBlack;
    }
    .primary500 {
      background-color: $primary-500;
      height: 50px;
      color: $fontColorBlack;
    }
    .primary400 {
      background-color: $primary-400;
      height: 50px;
      color: $fontColorBlack;
    }
    .primary300 {
      background-color: $primary-300;
      height: 50px;
      color: $fontColorBlack;
    }
    .primary200 {
      background-color: $primary-200;
      height: 50px;
      color: $fontColorBlack;
    }
    .primary100 {
      background-color: $primary-100;
      height: 50px;
      color: $fontColorBlack;
    }
    .primary50 {
      background-color: $primary-50;
      height: 50px;
      color: $fontColorBlack;
    } // Primary Text Emphasis
    .primaryEp {
      background-color: $primaryEp;
      height: 200px;
      .primaryEp87 {
        margin-top: 35px;
        color: #000000;
        opacity: .87;
      }
      .primaryEp75 {
        color: #000000;
        opacity: .75;
      }
      .primaryEp38 {
        color: #000000;
        opacity: .38;
      }
    } // Primary Black Text
    .primaryBlackTEm {
      background-color: $primaryBlackTEm;
      .primaryBlackT87 {
        color: #000000;
        opacity: .87;
        margin-top: 20px;
      }
      .primaryBlackT60 {
        color: #000000;
        opacity: .6;
      }
      .primaryBlackT38 {
        color: #000000;
        opacity: .38;
      }
    } // Primary White Text
    .primaryWhiteTEm {
      background-color: $primaryWhiteTEm;
      .primaryWhiteT100 {
        color: #FFFFFF;
        margin-top: 20px;
      }
      .primaryWhiteT60 {
        color: #FFFFFF;
        opacity: .6;
      }
      .primaryWhiteT38 {
        color: #FFFFFF;
        opacity: .38;
      }
    } // Secondary
    .secondary {
      background-color: $Secondary;
      color: #FFFFFF;
    }
    .secondary900 {
      background-color: $secondary-900;
      height: 50px;
      color: #FFFFFF;
    }
    .secondary800 {
      background-color: $secondary-800;
      height: 50px;
      color: #FFFFFF;
    }
    .secondary700 {
      background-color: $secondary-700;
      height: 50px;
      color: #FFFFFF;
    }
    .secondary600 {
      background-color: $secondary-600;
      height: 50px;
      color: #FFFFFF;
    }
    .secondary500 {
      background-color: $secondary-500;
      height: 50px;
      color: #FFFFFF;
    }
    .secondary400 {
      background-color: $secondary-400;
      height: 50px;
      color: #000;
    }
    .secondary300 {
      background-color: $secondary-300;
      height: 50px;
      color: #000;
    }
    .secondary200 {
      background-color: $secondary-200;
      height: 50px;
      color: #000;
    }
    .secondary100 {
      background-color: $secondary-100;
      height: 50px;
      color: #000;
    }
    .secondary50 {
      background-color: $secondary-50;
      height: 50px;
      color: #000;
    } // Secondary Text Emphasis
    .secondaryEp {
      background-color: $secondaryEp;
      height: 200px;
      .secondaryEp100 {
        color: #FFFFFF;
        margin-top: 35px;
      }
      .secondaryEp60 {
        color: #FFFFFF;
        opacity: .6;
      }
      .secondaryEp38 {
        color: #FFFFFF;
        opacity: .38;
      }
    } // Secondary Black Text
    .secondaryBlackTEm {
      background-color: $secondaryBlackTEm;
      .secondaryBlackT87 {
        // color: $secondaryBlackT-87;
        color: #000000;
        opacity: .87;
        margin-top: 20px;
      }
      .secondaryBlackT60 {
        // color: $secondaryBlackT-60;
        color: #000000;
        opacity: .6;
      }
      .secondaryBlackT38 {
        // color: $secondaryBlackT-38;
        color: #000000;
        opacity: .38;
      }
    } // Secondary White Text
    .secondaryWhiteTEm {
      background-color: $secondaryWhiteTEm;
    }
    .secondaryWhiteT100 {
      color: #FFFFFF;
      margin-top: 20px;
    }
    .secondaryWhiteT60 {
      color: #FFFFFF;
      opacity: .6;
    }
    .secondaryWhiteT38 {
      color: #FFFFFF;
      opacity: .38;
    } // Error
    .error_200 {
      background-color: $error-200;
      height: 50px;
      color: #FFFFFF;
    }
    .error_500 {
      background-color: $error-500;
      height: 50px;
      color: #FFFFFF;
    }
    .error_800 {
      background-color: $error-800;
      height: 50px;
      color: #FFFFFF;
    } // In Progress
    .inProgress_200 {
      background-color: $inProgress-200;
      height: 50px;
      color: #FFFFFF;
    }
    .inProgress_500 {
      background-color: $inProgress-500;
      height: 50px;
      color: #FFFFFF;
    }
    .inProgress_800 {
      background-color: $inProgress-800;
      height: 50px;
      color: #FFFFFF;
    } // Completed
    .completed_200 {
      background-color: $completed-200;
      height: 50px;
      color: #FFFFFF;
    }
    .completed_500 {
      background-color: $completed-500;
      height: 50px;
      color: #FFFFFF;
    }
    .completed_800 {
      background-color: $completed-800;
      height: 50px;
      color: #FFFFFF;
    } // Reserved
    .reserved_200 {
      background-color: $reserved-200;
      height: 50px;
      color: #FFFFFF;
    }
    .reserved_500 {
      background-color: $reserved-500;
      height: 50px;
      color: #FFFFFF;
    }
    .reserved_800 {
      background-color: $reserved-800;
      height: 50px;
      color: #FFFFFF;
    } // Canceled
    .canceled_200 {
      background-color: $canceled-200;
      height: 50px;
      color: #FFFFFF;
    }
    .canceled_500 {
      background-color: $canceled-500;
      height: 50px;
      color: #FFFFFF;
    }
    .canceled_800 {
      background-color: $canceled-800;
      height: 50px;
      color: #FFFFFF;
    } // Crediential
    .crediential_1 {
      background-color: $crediential-1;
      height: 50px;
      color: #FFFFFF;
    }
    .crediential_2 {
      background-color: $crediential-2;
      height: 50px;
      color: #FFFFFF;
    }
    .crediential_3 {
      background-color: $crediential-3;
      height: 50px;
      color: #FFFFFF;
    }
    .crediential_4 {
      background-color: $crediential-4;
      height: 50px;
      color: #FFFFFF;
    }
    .crediential_5 {
      background-color: $crediential-5;
      height: 50px;
      color: #FFFFFF;
    }
    .crediential_6 {
      background-color: $crediential-6;
      height: 50px;
      color: #FFFFFF;
    }
  }
}


.name {
  @include nameLeft;
}

.code {
  @include codeRight;
}

.emLeft {
  @include emLeft;
}

.mainHight {
  height: 100px;
}

.surfaceRowHeight {
  height: 200px;
  padding-top: 100px;
}

.primaryRowHeight {
  height: 350px;
  padding-top: 100px;
}

.secondaryRowHeight {
  height: 350px;
  padding-top: 100px;
}

.etcColorRowHeight {
  height: 150px;
  padding-top: 0;
}

.credientialRowHeight {
  height: 150px;
  padding-top: 0;
}

.titleColorLayout {
  @include titleColorLayout;
}

.textLower {
  @include textLower;
}

.colorTitle {
  padding: 30px 0;
  color: $fontColorBlack;
}