.Header {
  background-color: rgba(255,255,255,0.6);
  box-shadow: 0px 1px 10px 1px #858482;
  position: sticky;
  top: 0;
  z-index: 5;
  height: 50px;
  .container {
    .row {
      .col {
        padding: 0;
        .logoBox {
          display: inline-block;
          .logo {
            display: table-cell;
            vertical-align: middle;
            font-size: 23px;
            font-weight: bold;
            color: $pageMainColor;
            text-decoration: none;
            height: 50px;
          }
        }
        .Header__topbar {
          display: inline-block;
          float: right;
          position: relative;
          .navMenu {
            display: inline-block;
            margin-left: 35px;
            a {
              text-decoration: none;
              color: $secondary-300;
              font-size: 18px;
              display: table-cell;
              text-align: center;
              transition: .3s;
              vertical-align: middle;
              height: 50px;
              &:hover {
                opacity: .7;
                &::after {
                  content: "";
                  border: 1px solid $secondary-300;
                  display: block;
                }
              }
              &:active {
                opacity: .5;
                transition: none;
                font-weight: bold;
              }
            }
          }
          .navFirst {
            margin-left: 0;
          }
      
        }
      }
    }
  }
}

.active {
  color: #DC572D !important;
  font-weight: bold;
}