// Last revision : 2018. 08. 01.
@import './variable';
* {
  padding: 0;
  margin: 0;
}

body {
  .title {
    margin: 50px 0;
    .headerH1 {
      color: $fontColorBlack;
    }
    .headerSmall {
      color: $fontColorBlack;
      font-size: 10px;
    }
  }
  .made {
    margin-bottom: 50px;
  }
}

@import './color';
@import './font';
@import './header';