- var title = "Webpack";


// Surface
- var surface = []
- surface.push({key: "surface", color: "#F6F8FD",})
- surface.push({key: "light", color: "#FFFFFF",})
- surface.push({key: "dark", color: "#E3E5EA",})
- var surfaceEp = [{key: 'Ep', textKey1: 'Ep87', text1: 'Text on Surface / High Emphasis / Black 87%', textKey2: 'Ep60', text2: 'Text on Surface / Medium Emphasis / Black 60%', textKey3: 'Ep38', text3: 'Text on Surface / Disabled / Black 38%',}]


// Primary
- var primary = []
- primary.push({key: 'primary',color: '#228BE6',})
- primary.push({key: '900',color: '#0F4AA2',})
- primary.push({key: '800',color: '#0F4AA2',})
- primary.push({key: '700',color: '#1C79D3',})
- primary.push({key: '600',color: '#228BE6',})
- primary.push({key: '500',color: '#0F4AA2',})
- primary.push({key: '400',color: '#45A8F6',})
- primary.push({key: '300',color: '#66B7F7',})
- primary.push({key: '200',color: '#91CCF9',})
- primary.push({key: '100',color: '#BCDFFB',})
- primary.push({key: '50',color: '#E3F2FD',})
- var primaryEp = []
- primaryEp.push({key: 'Ep', textKey1: 'Ep87', text1: 'Text on Primary / High Emphasis / Black 87%', textKey2: 'Ep75', text2: 'Text on Primary / Medium Emphasis / Black 75%', textKey3: 'Ep38', text3: 'Text on Primary / Disabled / Black 38%',})
- primaryEp.push({key: 'BlackTEm', textKey4: 'BlackT87', text4: 'Black Text / High Emphasis / 87%', textKey5: 'BlackT60', text5: 'Black Text / Medium Emphasis / 60%', textKey6: 'BlackT38', text6: 'Black Text / Disabled / 38%',})
- primaryEp.push({key: 'WhiteTEm', textKey7: 'WhiteT100', text7: 'White Text / High Emphasis / 100%', textKey8: 'WhiteT60', text8: 'White Text / Medium Emphasis / 60%', textKey9: 'WhiteT38', text9: 'White Text / Disabled / 38%',})


// Secondary
- var secondary = []
- secondary.push({key: 'secondary',color: '#1B2535',})
- secondary.push({key: '900',color: '#1B2535',})
- secondary.push({key: '800',color: '#2D384C',})
- secondary.push({key: '700',color: '#3C4A62',})
- secondary.push({key: '600',color: '#4D5D78',})
- secondary.push({key: '500',color: '#5A6A89',})
- secondary.push({key: '400',color: '#717F9B',})
- secondary.push({key: '300',color: '#8995AE',})
- secondary.push({key: '200',color: '#A9B3C8',})
- secondary.push({key: '100',color: '#C8D2E3',})
- secondary.push({key: '50',color: '#E8ECFA',})
- var secondaryEp = []
- secondaryEp.push({key: 'Ep', textKey1: 'Ep100', text1: 'Text on Secondary / High Emphasis / White 100%', textKey2: 'Ep60', text2: 'Text on Secondary / Medium Emphasis / White 60%', textKey3: 'Ep38', text3: 'Text on Secondary / Disabled / White 38%',})
- secondaryEp.push({key: 'BlackTEm', textKey4: 'BlackT87', text4: 'Black Text / High Emphasis / 87%', textKey5: 'BlackT60', text5: 'Black Text / Medium Emphasis / 60%', textKey6: 'BlackT38', text6: 'Black Text / Disabled / 38%',})
- secondaryEp.push({key: 'WhiteTEm', textKey7: 'WhiteT100', text7: 'White Text / High Emphasis / 100%', textKey8: 'WhiteT60', text8: 'White Text / Medium Emphasis / 60%', textKey9: 'WhiteT38', text9: 'White Text / Disabled / 38%',})


// EtcColor
- var etcColor = []
- etcColor.push({key: 'error_200',color: '#ffa8a8',})
- etcColor.push({key: 'error_500',color: '#ff6d6d',})
- etcColor.push({key: 'error_800',color: '#f03e3e',})
- etcColor.push({key: 'inProgress_200',color: '#ffe066',})
- etcColor.push({key: 'inProgress_500',color: '#fcc419',})
- etcColor.push({key: 'inProgress_800',color: '#f59f00',})
- etcColor.push({key: 'completed_200',color: '#91ccf9',})
- etcColor.push({key: 'completed_500',color: '#228be6',})
- etcColor.push({key: 'completed_800',color: '#1868c1',})
- etcColor.push({key: 'reserved_200',color: '#63e6be',})
- etcColor.push({key: 'reserved_500',color: '#20c997',})
- etcColor.push({key: 'reserved_800',color: '#0ca678',})
- etcColor.push({key: 'canceled_200',color: '#b197fc',})
- etcColor.push({key: 'canceled_500',color: '#845ef7',})
- etcColor.push({key: 'canceled_800',color: '#7048e8',})


// Crediential
- var crediential = []
- crediential.push({key: 'crediential_1',color: '#ec008c',})
- crediential.push({key: 'crediential_2',color: '#ec4300',})
- crediential.push({key: 'crediential_3',color: '#502bbe',})
- crediential.push({key: 'crediential_4',color: '#199d6d',})
- crediential.push({key: 'crediential_5',color: '#0098b8',})
- crediential.push({key: 'crediential_6',color: '#ff9c00',})
