.Header#header
	.container
		.row
			.col
				.logoBox
					a(href="#").logo OSC - Style
			.col
				.Header__topbar
					.navMenu.navFirst
						a(href="colorpage.html")#colorTab Color
					.navMenu
						a(href="fontpage.html")#fontTab Font
